<nb-card class="inline-form-card">
  <nb-card-header>Book Management - Sections</nb-card-header>
  <nb-card-body>
    <form class="form-inline">
      <div class="input-group full-width">
        <label class="input-group-addon">Book</label>
        <select class="form-control">
          <option>Minsk</option>
          <option>Gomel</option>
          <option>Brest</option>
          <option>Grodno</option>
          <option>Mogilev</option>
        </select>
      </div>
      <div class="input-group full-width">
        <label class="input-group-addon">Chapter</label>
        <select class="form-control">
          <option>Minsk</option>
          <option>Gomel</option>
          <option>Brest</option>
          <option>Grodno</option>
          <option>Mogilev</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    Sections for {{ chapter }} in {{ book }}
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
                     (create)="onCreate($event)"
                     (edit)="onEdit($event)"
                     (delete)="onDelete($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
