<nb-card class="inline-form-card">
<nb-card-header>Book Management - Chapters</nb-card-header>
<nb-card-body>
  <form class="form-inline">
    <div class="input-group full-width">
      <label class="input-group-addon">Book</label>
      <select class="form-control" (change)="onChange($event)">
        <option value="">Select Book</option>
        <option [value]="book.id" *ngFor="let book of books"> {{ book.title }} </option>
      </select>
    </div>
    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
  </form>
</nb-card-body>
</nb-card>

<nb-card [nbSpinner]="loading" nbSpinnerStatus="info" *ngIf="book">
  <nb-card-header>
    Chapters in {{ book.title }}
  </nb-card-header>

  <nb-card-body >
    <ng2-smart-table [settings]="settings" [source]="source"
                     (create)="onCreate($event)" (edit)="onEdit($event)" (delete)="onDelete($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
