@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  .full-width {
    flex: 1;
    min-width: 220px;
  }

  .form-inline > * {
    @include nb-ltr(margin, 0 1.5rem 1.5rem 0);
    @include nb-rtl(margin, 0 0 1.5rem 1.5rem);
  }

  nb-card {
    transform: translate3d(0, 0, 0);
  }
}
