<div class="modal-header">
  <span>{{ modalHeading }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="addChapterForm" novalidate (ngSubmit)="addChapter(addChapterForm.value, addChapterForm.valid)">
  <div class="modal-body">
    <nb-card>
      <!--<nb-card-header>Basic form</nb-card-header>-->
      <nb-card-body>
        <div class="form-group">
          <label for="bookTitle">Book Title</label>
          <input type="text" class="form-control" id="bookTitle" placeholder="Book Title"
                 [formControl]="addChapterForm.controls['chapterChapter']">
        </div>
        <div class="form-group">
          <label for="bookAuthor">Author</label>
          <input type="text" class="form-control" id="bookAuthor" placeholder="Book Author"
                 [formControl]="addChapterForm.controls['chapterAuthor']">
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-md btn-primary" >Save changes</button>
  </div>
</form>
