<div class="modal-header">
  <span>{{ header }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="addBookForm" novalidate (ngSubmit)="addBook(addBookForm.value, addBookForm.valid)">
  <div class="modal-body">
    <nb-card>
      <!--<nb-card-header>Basic form</nb-card-header>-->
      <nb-card-body>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="bookTitle">Book Title</label>
              <input type="text" class="form-control" id="bookTitle" placeholder="Book Title"
                     [formControl]="addBookForm.controls['bookTitle']" >
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="bookDatePublished">Date Published</label>
              <div class="input-group">
                <button class="input-group-addon" (click)="d.toggle()" type="button">
                  <img src="../../../../../../assets/images/calendar-interface-symbol-tool.svg">
                </button>
                <input type="text" #d="ngbDatepicker" class="form-control" id="bookDatePublished"
                       placeholder="yyyy-mm-dd" readonly [maxDate]="setMaxDate()"
                       [formControl]="addBookForm.controls['bookDatePublished']" ngbDatepicker>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="bookAuthor">Author</label>
              <input type="text" class="form-control" id="bookAuthor" placeholder="Book Author"
                     [formControl]="addBookForm.controls['bookAuthor']">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="bookPublisher">Publisher</label>
              <input type="text" class="form-control" id="bookPublisher" placeholder="Book Publisher"
                     [formControl]="addBookForm.controls['bookPublisher']">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="bookIsbn">ISBN</label>
              <input type="text" class="form-control" id="bookIsbn" placeholder="Book ISBN"
                     [formControl]="addBookForm.controls['bookIsbn']">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="bookEisbn">e-ISBN</label>
              <input type="text" class="form-control" id="bookEisbn" placeholder="Book e-ISBN"
                     [formControl]="addBookForm.controls['bookEisbn']">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="bookDescription">Book Description</label>
          <input type="text" class="form-control" id="bookDescription" placeholder="Book Description"
                 [formControl]="addBookForm.controls['bookDescription']">
        </div>
        <div class="form-group">
          <label for="bookStory">Story</label>
          <ngx-tiny-mce type="textarea" [formControl]="addBookForm.controls['bookStory']"
                        id="bookStory" (editorChange)="onEditorChange($event)" ngDefaultControl></ngx-tiny-mce>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-md btn-primary" >Save changes</button>
  </div>
</form>
